body {
  margin: 0;
}

#map_container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}

#download{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
  z-index: 30;
  background-color: rgba(255,255,255,0.8);
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.zoom-container {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  width: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
}

a.zoom {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a.zoom:hover {
  background-color:#f4f4f4;
}

a.zoom:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

a.zoom:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tile .water, .tile .ocean { fill: #9DD9D2; stroke: #83dbee;}
.tile .water-layer, .tile .river, .tile .stream, .tile .canal { stroke: #83dbee; stroke-width: 1px;}
.tile .riverbank { fill: #9DD9D2; }
.tile .major_road { stroke: #fff; stroke-width: 1.5px; }
.tile .minor_road { stroke: #fff; stroke-width: 1px; }
.tile .highway { stroke:  #ff897d; stroke-width: 1.5px; }
.tile .buildings-layer { stroke: #987284; stroke-width: 0.15px; }
.tile .park, .tile .nature_reserve, .tile .wood, .tile .protected-land {fill: #88D18A;}
.tile .rail { stroke: #503D3F; stroke-width: 0.5px; }

.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0px 5px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.info a {
  text-decoration: none;
  color: #0078a8;
}

.info a:hover {
  text-decoration: underline;
}

/* For non touch devices, move control out of the way at small window widths */
@media (max-width: 752px) {
  /* 767px - 15px for scrollbar */
  .mapzen-demo-iframed .zoom-container {
    top: 50px;
  }
}
